Source: ubuntucinnamon-environment
Maintainer: Joshua Peisach <itzswirlz2020@outlook.com>
Section: misc
Priority: important
Build-Depends: debhelper (>= 12), debhelper-compat (= 13)
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://github.com/Ubuntu-Cinnamon-Remix/
Vcs-Browser: https://github.com/Ubuntu-Cinnamon-Remix/ubuntucinnamon-environment
Vcs-Git: https://github.com/Ubuntu-Cinnamon-Remix/ubuntucinnamon-environment.git

Package: ubuntucinnamon-environment
Architecture: all
Depends: cinnamon-core, nemo, plymouth-theme-ubuntucinnamon-spinner, ubuntucinnamon-wallpapers, ubuntucinnamon-wallpapers-groovy, ubuntucinnamon-lightdm-theme, yaru-theme-sound, ${misc:Depends}
Description: Ubuntu Cinnamon's Desktop Environment
 This package contains Ubuntu Cinnamon's Desktop Environment which
 comes with photos, and other applications that fit your touch at
 first glance, and is customizable to work anywhere, anytime you want at
 anywhere you need.
